<div id="menu_bar">
  <%= link_to_function "Home", "homePage()" %>
  <span class='separator'>|</span>
  <% if @kata.readonly -%>
  <% else -%>
    <%= link_to_function "New file", "newFile()" %>
    <%= link_to_function "Rename file", "renameCurrentFile()" %>
    <%= link_to_function "Delete file", "deleteCurrentFile()" %>
    <span class='separator'>|</span>
  <% end -%>
  <%= link_to_function "See everyone else!", "everyoneElsePage()" %>
</div>
